body {
  max-width: 1140px;

  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 40px 0 0 0;
}
.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
  list-style-type: none;
}

.gallery-image {
  cursor: zoom-in;
  transition: transform 0.3s ease-out;
}
